version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: prostar_landing_prod:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
