version: "3.8"
services:
  app:
    build: .
    image: prostar_landing_dev:latest
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app:cached
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3000
    command: ["pnpm", "dev"]
    tty: true
